.rightSide{
    width: 72vw;
    background-color: white;
    height: 90vh;
    margin-top: 0.4rem;
    margin-right: 1vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.rightSide .userName{
    height: 9vh;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 1rem 1rem 0 0;
    border: 0.3rem solid white;
    font-size: 1.5rem;
}
.rightSide #arrow{
    display: none;
}
.rightSide .userName .chatHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.rightSide .userName .chatHeader .chatHeaderBox{
    z-index: 1;
    height: 100%;
    margin: 2rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.rightSide .userName .chatHeader .chatHeaderBox h1{
    height: 100%;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rightSide .userName .chatHeader .chatHeaderBox img{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-right: 1rem;
}
.chatHeader > div > button{
    background-color: white;
    cursor: pointer;
    margin-right: 2rem;
    border-radius: 100%;
    border: none;
}
.chatHeader > div > button:hover {
    color: #2A6A5A;
}
.chatHeader > div > button > svg{
    font-size: 3rem;
}
.rightSide .userName .chatHeader > h1{
    margin-left: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#userProfile {
    background-color: #2A6A5A;
    z-index: 1;
    position: fixed;
    top: 25%;
    left: 35%;
    width: 45rem;
    height: 35rem;
    display: none;
    transition: all 0.5s;
}
#userProfile > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#userProfile > div > h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#userProfile > div > img {
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    object-fit: contain;
    border: 0.3rem solid white;
    background-color: white;
}
#userProfile > div > p {
    font-size: 2.5rem;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#overlay3 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.rightSide .messages .logic{
    height: 74vh;
    background-image: url(../../../../images/1.jpg);
    padding: 1rem;
    border: 0.3rem solid white;
    border-top: none;
    overflow-y: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logic::-webkit-scrollbar {
    height: 1rem;
    background-color: white;
    width: 1rem;
}
.logic::-webkit-scrollbar-track {
    background-color: white;
}
.logic::-webkit-scrollbar-thumb {
    background-color: black;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    border-top: none;
}
.groupIcons{
    display: flex;
    flex-direction: column;
}
.groupIcons img{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    margin: 1rem;
    border: 0.3rem solid white;
}
.groupIcons p{
    font-size: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 2rem;
    width: fit-content;
    border-radius: 1rem;
}
.groupIcons .me{
    align-self: flex-end;
}
.groupIcons .you{
    align-self: flex-start;
}
.groupIcons .groupIconsBox{
    display: flex;
}
.personalChat{
    display: flex;
    flex-direction: column;
}
.personalChat p{
    font-size: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 2rem;
    width: fit-content;
    border-radius: 1rem;
}
.personalChat .me{
    align-self: flex-end;
}
.personalChat .you{
    align-self: flex-start;
}
.rightSide .write{
    display: flex;
    align-items: center;
    height: 8vh;
    border-radius: 0 0 1rem 1rem;
    position: relative;
}
.rightSide .write > input{
    height: 6vh;
    margin-left: 1rem;
    outline: none;
    width: 70vw;
    border: none;
    border-radius: 1rem 0 0 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
.rightSide  .write > button{
    height: 5vh;
    width: 3vw;
    border: none;
    border-radius: 10%;
    background-image: url(../../../../images/send.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}
.noSelectedChatTextContainer{
    width: 72vw;
    background-image: url(../../../../images/1.jpg);
    height: 90vh;
    margin-right: 1rem;
    border-radius: 1rem;
    display: flex;
    border: 0.3rem solid white;
}
.noSelectedChatTextContainer p{
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 3.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: white;
}
.swal2-popup {
    font-size: 2.5rem !important;
}

@media (max-width:1115px) {
    .rightSide{
        width: 67vw;
    }
    .noSelectedChatTextContainer{
        width: 67vw;
    }
    /* .rightSide  .write > button{
        margin-right: 2rem;
    } */
}
@media (max-width:810px) {
    .rightSide{
        width: 60vw;
    }
    .noSelectedChatTextContainer{
        width: 60vw;
    }
    .rightSide  .write > button{
        width: 4vw;
    }
}
@media (max-width:768px) {
    #userProfile{
        top: 30%;
        left: 30%;
    }
}
@media (max-width:730px) {
    .rightSide  .write > button{
        width: 4vw;
        margin-top: 1rem;
    }
}
@media (max-width:569px) {
    #userProfile{
        top: 30%;
        left: 20%;
        width: 55rem;
        height: 40rem;
    }
    .rightSide .userName .chatHeader .chatHeaderBox h1{
        font-size: 2.5rem;
    }
    .rightSide .userName .chatHeader .chatHeaderBox img{
        height: 6rem;
        width: 6rem;
    }
    .chatHeader > div > button > svg{
        font-size: 4rem;
    }
    .personalChat p{
        font-size: 2.5rem;
        padding: 2.5rem;
    }
    .rightSide .write > input{
        font-weight: 900;
    }
    .rightSide  .write > button{
        width: 5vw;
    }
}
@media (max-width:490px) {
    .rightSide{
        width: 54vw;
    }
    .noSelectedChatTextContainer{
        width: 54vw;
    }
}
@media (max-width:440px) {
    .rightSide{
        width: 0;
        display: none;
        padding-left: 2rem;
    }
    .rightSide .userName{
        height: 11vh;
    }
    .noSelectedChatTextContainer{
        width: 0;
        display: none;
    }
    .rightSide #arrow{
        display: block;
        font-size: 4.5rem;
    }
    .groupIcons img{
        width: 9.8rem;
        height: 9.8rem;
        border: 0.5rem solid white;
    }
    .groupIcons p{
        font-size: 3.5rem;
        padding: 2.5rem;
        border-radius: 2rem;
    }
    .personalChat p{
        font-size: 3.5rem;
        padding: 2.5rem;
        border-radius: 2rem;
    }
    .rightSide .messages .logic{
        height: 70vh;
    }
    .logic::-webkit-scrollbar {
        height: 1rem;
        background-color: white;
        width: 1.5rem;
    }
    .rightSide .userName .chatHeader .chatHeaderBox h1{
        font-size: 3.5rem;
    }
    .rightSide .userName .chatHeader .chatHeaderBox img{
        height: 9rem;
        width: 9rem;
    }
    .chatHeader > div > button > svg{
        font-size: 5rem;
    }
    .rightSide .write{
        height: 9vh;
    }
    .rightSide .write > input{
        font-size: 3rem;
        height: 9vh;
    }
    .rightSide  .write > button{
        width: 6vw;
    }
}
@media (max-width:360px) {
    #userProfile{
        height: 50rem;
    }
    #userProfile div h1{
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    #userProfile div p{
        font-size: 3.5rem;
    }
    #userProfile div img{
        width: 17rem;
        height: 17rem;
        margin-bottom: 2rem;
    }
}
@media (max-width:315px) {
    #userProfile{
        left: 15%;
    }
}
@media (max-width:290px) {
    #userProfile{
        left: 10%;
    }
}
@media (max-width:275px) {
    #userProfile{
        left: 7%;
    }
}
@media (max-width:260px) {
    #userProfile{
        width: 90%;
        left: 5%;
    }
}
@media (max-width:200px) {
    #userProfile{
        width: 80%;
        left: 10%;
    }
}